{% if ui['listen_interfaces'] is defined and ui['listen_interfaces'] != '' %}
{% for uii in ui['listen_interfaces'] %}
{% if uii['address'] | ansible.utils.ipaddr('host') %}
{% if uii['port'] is defined and uii['port'] != '' %}
{{ '  interface: ' + uii['address'] + '@' ~ uii['port'] }}
{% else %}
{{ '  interface: ' + uii['address'] }}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% if ui['outgoing_interfaces'] is defined and
  ui['outgoing_interfaces'] != '' %}
{% for uii in ui['outgoing_interfaces'] %}
{% if uii | ansible.utils.ipaddr() %}
{{ '  outgoing-interface: ' + uii }}
{% endif %}
{% endfor %}
{% endif %}
