{% if r.control_interfaces is defined and r.control_interfaces != '' %}
{% for int in r.control_interfaces %}
{{ '  ' + 'control-interface: ' + int }}
{% endfor %}
{% endif %}
{% if r.control_port is defined and r.control_port != '' %}
{{ '  ' ~ 'control-port: ' ~ r.control_port }}
{% endif %}
{% if r.control_use_cert is defined and r.control_use_cert in ['yes', 'no'] %}
{{ '  ' + 'control-use-cert: ' + r.control_use_cert }}
{% endif %}
{% if r.server_key_file is defined and r.server_key_file in ['yes', 'no'] %}
{{ '  ' + 'server-key-file: ' + r.server_key_file }}
{% endif %}
{% if r.server_cert_file is defined and r.server_cert_file != '' %}
{{ '  ' + 'server-cert-file: ' + r.server_cert_file }}
{% endif %}
{% if r.control_key_file is defined and r.control_key_file != '' %}
{{ '  ' + 'control-key-file: ' + r.control_key_file }}
{% endif %}
{% if r.control_cert_file is defined and r.control_cert_file != '' %}
{{ '  ' + 'control-cert-file: ' + r.control_cert_file }}
{% endif %}
