{% if (l.name is defined and l.name != '') and (l.action is defined and l.action != '') %}
{% if l.action in ['deny', 'refuse', 'static', 'transparent', 'typetransparent',
                   'redirect', 'inform', 'inform_deny', 'always_transparent',
                   'always_refuse', 'always_nxdomain', 'nodefault'] %}
{{ '  ' + 'local-zone: \"' + l.name + '\" ' + l.action }}
{% endif %}
{% if l.data is defined and l.data != '' %}
{% for lz in l.data %}
{% if lz.resource is defined and lz.type is defined and lz.answer is defined %}
{% if lz.type in 'TXT' %}
{{ '  ' + 'local-data: \'' + lz.resource + ' ' + lz.type + ' \"' + lz.answer + '\"\'' }}
{% else %}
{{ '  ' + 'local-data: \"' + lz.resource + ' ' + lz.type + ' ' + lz.answer + '\"' }}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% if l.data_ptr is defined and l.data_ptr != '' %}
{% for lz in l.data_ptr %}
{% if lz.resource is defined and lz.answer is defined %}
{% if lz.ttl is defined and lz.ttl != '' %}
{{ '  ' ~ 'local-data-ptr: \"' ~ lz.resource ~ ' ' ~ lz.ttl ~ ' ' ~ lz.answer ~ '\"' }}
{% else %}
{{ '  ' + 'local-data-ptr: \"' + lz.resource + ' ' + lz.answer + '\"' }}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% if l.tags is defined and l.tags != '' %}
{{- '  ' ~ 'local-zone-tag: \"' ~ l.name ~ '\" \"' ~ l.tags | join( ' ' ) ~ '\"' }}
{% endif %}
{% endif %}
